<div class="container" style="margin-left: 135px !important">
    <div >
  

        <style type="text/css">
          tr:hover{
            background-color: #E0E0E0 !important;
          }
          ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
             min-width: 0!important;
             padding: 3px!important;
             margin: 3px!important;
            }
        </style>
        
        <div class="col-md-12">
          

          <div class="page-header" style="margin-bottom: 0;margin-top: 25px !important;">
              <span style="margin:0;font-size: 22px">
                All Researches<br>
              </span>
              <span>About {{displayarray.length}} result(s) </span>
          </div>
          <div style="height: 10px"></div>

          
        <table  class="table table-striped" style="width:100%" >
        <tbody>
            <tr   *ngFor="let c of displayarray | paginate: config">
              <td >
                <a href="javascript:void(0)" (click)="global.openresearch(c.id)"><b>{{c.title | uppercase }}</b></a><br><b>Author(s): </b>
                 <span *ngFor="let a of c.authors;let i = index">{{a.name}}<span *ngIf='i<c.authors.length-1'>, </span></span><br>
                <b>Company: {{c.inst}} </b><br>
                <b>Program Discipline:  </b>
                      <span *ngFor="let a of c.dis;let i = index" >{{a.desc}}<span *ngIf='i<c.dis.length-1'>, </span></span>

                    </td>
            </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    <br><br>
      <p *ngIf='displayarray.length==0' style="text-align: center;">
         - No Research Found for <b>{{tempsearch}}</b> -
      <br><br><br>
      </p>
      </div>

        
    </div>
</div>