<div class="container">
    <div class="row">
     
        <div class="col-md-3 sidebar">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Program Discipline</div>
                <ul class="list-group category_block" style="margin-bottom: 0px">
                    <li class="list-group-item" *ngFor="let c of sidediscicpline1" (click)="openresearchbydiscipline(c.name)"><a class="addContent" href="javascript:void(0)">{{c.name}}</a></li>
                </ul>
                <mat-expansion-panel style="padding: 0px !important">
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        View more...
				      </mat-panel-title>
				    </mat-expansion-panel-header>
					<ul class="list-group category_block" style="margin-bottom: 0px">
                    <li class="list-group-item" *ngFor="let c of sidediscicpline2"><a class="addContent" href="javascript:void(0)" (click)="openresearchbydiscipline(c.name)">{{c.name}}</a></li>
                </ul>
				  </mat-expansion-panel>
				  <br>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-building"></i> Institutions</div>
                <ul class="list-group category_block" style="margin-bottom: 0px">
                    <li class="list-group-item" *ngFor="let c of com1"><a class="addContent" href="javascript:void(0)" (click)="global.openresearchbycompany(c.name)">{{c.name}}</a></li>
                </ul>

                <mat-expansion-panel style="padding: 0px !important">
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        View more...
				      </mat-panel-title>
				    </mat-expansion-panel-header>
					<ul class="list-group category_block" style="margin-bottom: 0px">
                    <li class="list-group-item" *ngFor="let c of com2"><a class="addContent" href="javascript:void(0)" (click)="global.openresearchbycompany(c.name)">{{c.name}}</a></li>
                </ul>
				  </mat-expansion-panel>
				  <br>
            </div>
        </div>

        <style type="text/css">
        	tr:hover{
        		background-color: #E0E0E0 !important;
        	}
        </style>
        <div class="col-md-9 col-lg-9 add_to_cart_block" *ngIf="array.length!=0&&pagestat=='research'">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h3><b>{{array[0].title | uppercase }}</b></h3>
                    
                    <p class="price_discounted"><b>Author(s)</b>:  
                    
                    
                    <a href="#"  *ngFor="let c of author" >{{c.name}}, </a>
                   
                    </p>
                    <p class="price_discounted"><b>Keywords: </b>
                    <span style="background-color: #4e4e4e;color:white;padding: 2px 7px 2px 7px;border-radius: 10px;" *ngFor="let c of keyword">{{c.keyword}}</span>
                        <div class="form-group">
                            <label for="colors"><b>Abstract</b></label><br>
                            <p>
                            	{{array[0].abstract }}
                            </p>
                        </div><!-- 
                        <a  href="javascript:void(0)" data-toggle="modal" data-target="#productModal" class="btn btn-success btn-lg btn-block text-uppercase">
                            <i class="fa fa-file-text"></i> View Paper
                        </a> -->

                    <p class="price_discounted"><b>Program Discipline: </b>
                    
                    <a href="#"  *ngFor="let c of descipline">{{c.desc}}, </a>
                    </p>
                    <p class="price_discounted"><b>Company: </b> 
                            	{{array[0].inst }}
                    </p>
                    <div style="height: 15px"></div>
                    <div class="datasheet p-3 mb-2 bg-info text-white" style="width: 340px">
                        <a  href="javascript:void(0)" class="text-white"><h4 style="color: white;font-weight: 300;" (click)="Viewpdf(array[0].id)">&nbsp;&nbsp;&nbsp;<i class="fa fa-download"></i>  View and download research paper</h4></a>
                    </div>
                    <div class="reviews_product p-3 mb-2 " >
                        <!--3 reviews
                        	 data-toggle="modal" data-target="#productModal"
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        (4/5)-->
                        Downloads (256)
                        <!--<a class="pull-right" href="#reviews">View all reviews</a>-->
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-9" *ngIf="pagestat=='discipline'&&displayarray.length!=0">
  		<!-- <link href="/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet"> -->
          <div class="page-header" style="margin-bottom: 0;margin-top: 25px !important;">
              <h2 style="margin:0">
                {{discipline}}
              </h2>
          </div>
          <div style="height: 10px"></div>

          <table  id="example" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th width="300px">Title</th>
              <th width="130px">Company</th>
              <!--<th style="width: 100px">Keywords</th>-->
              <th width="150px">Program Discipline</th>
            </tr>
          </thead>
          <tbody *ngIf='displayarray.length!=0'>
            <tr   *ngFor="let c of displayarray">
              <td ><a href="javascript:void(0)" (click)="openresearch(c.id)"><b>{{c.title}}</b></a><br><b>Author(s): </b>

              	 <span *ngFor="let a of c.authors">{{a.name}}, </span></td>
              <!--<td><?php echo substr(htmlentities($row[2]), 0, 250); ?>...</td>-->
              <td width="130px">{{c.inst}}</td>
              <!--<td>
                </td>-->
                    <td>
                    	<a href="javascript:void(0)" *ngFor="let a of c.dis"  (click)="openresearchbydiscipline(a.desc)">{{a.desc}}<br> </a>

                    </td>
            </tr>
            
          </tbody>

            <tfoot>
            <tr>
              <tr>
              <th colspan="6" style="text-align: center;">
                
              </th>
            </tr>
        </tfoot>
        </table>

      <p *ngIf='displayarray.length==0'>
      	No data available in table
      </p>
      </div>


        
    </div>
</div>