<mat-drawer-container style="background-image: url('assets/St.jpg');background-repeat: no-repeat; background-size: cover;">
<br><br><mat-card style="width: 350px;margin: 50px auto;padding:0">


        <div class="login-container">
 
            <!-- Template Header starts -->
            <div class="login-box-header">
                <h3>Login</h3>
            </div>
            <!-- Template Header ends -->
            
            <!-- Template Body starts -->
            <div class="login-box-body" style="margin: 10px">
                 <div class="part1" style="text-align: center;">
                  <div style="margin-top:20px;margin-bottom: 20px;padding-right: 20px">
                    <p>
                      <b>Sign in using your account on Google.</b><br><br>
                      Cookies must be enabled in your browser <button style="background-color: #3f51b5;color: white;border: none;border-radius:45%;height: 19px" (click)="Cookies()" >?</button>

                    </p>
                    <input type="text" name="" [(ngModel)]="username"><br><br>
                    <button mat-raised-button color="primary" style="color: white;width: 90%" (click)="login2()" [disabled]="!disabled">
                      <span class="material-icons">
                        account_box
                      </span>
                      Google Login
                    </button>
                    <p style="width: 85%;margin-right: auto;margin-top: 10px;margin-left: auto;text-align: left;">
                      <mat-checkbox [(ngModel)]="disabled"> I agree to the&nbsp;</mat-checkbox><a href="javascript:void(0)" (click)="Cookies()"  style=" text-decoration: none;">Policy Acceptance and Data Privacy.</a>
                    </p>
                    <div style="height: 20px"></div>
                  </div>
                </div>
                
            </div>
            <!-- Template Body ends -->
            
        </div>

</mat-card>
                <br>
                <br>
                <br>
                <br>
</mat-drawer-container>