
<div style="margin-left: 20px" *ngIf="global.useraccess!=undefined">
<p><b>Company: </b>{{global.useraccess.companyname}}</p>
<style type="text/css">
  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
             min-width: 0!important;
             padding: 3px!important;
             margin: 3px!important;
            }
</style>
          <mat-tab-group (selectedTabChange)="optionsearch($event.tab.textLabel)" [selectedIndex]="tabselectedvalue">
            <!-- <mat-tab label='All'> 
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">search</mat-icon>
                All
              </ng-template>
             </mat-tab> -->
            <mat-tab label="Pending" >
              <ng-template mat-tab-label>
                &nbsp;<mat-icon class="example-tab-icon">send</mat-icon>
                &nbsp;Pending&nbsp;&nbsp;
              </ng-template>
            </mat-tab>
            <mat-tab label="Draft">
              <ng-template mat-tab-label>
                &nbsp;<mat-icon class="example-tab-icon">all_inbox</mat-icon>
                &nbsp;Draft&nbsp;&nbsp;
              </ng-template>
            </mat-tab>
            <mat-tab label="Published">
              <ng-template mat-tab-label>
                &nbsp;<mat-icon class="example-tab-icon">list_alt</mat-icon>
                &nbsp;Published&nbsp;&nbsp;
              </ng-template>
            </mat-tab>
            <mat-tab label="With Issues">
              <ng-template mat-tab-label>
                &nbsp;<mat-icon class="example-tab-icon">assignment_late</mat-icon>
                &nbsp;With Issues&nbsp;&nbsp;
              </ng-template>
            </mat-tab>
            <mat-tab label="Trash">
              <ng-template mat-tab-label>
                &nbsp;<mat-icon class="example-tab-icon">delete</mat-icon>
                &nbsp;Trash&nbsp;&nbsp;
              </ng-template>
            </mat-tab>
          </mat-tab-group>

<div>
    <p style="margin: 10px 0 0 0;font-size: 20px">
      <span *ngIf="stat=='Pending'">
        <table>
          <tr>
            <td>
              <div style="height: 3px"></div>
              <mat-icon class="example-tab-icon">send</mat-icon>&nbsp;</td>
            <td valign="top"> Pending Researches</td>
          </tr>
        </table>
      </span>
      <span *ngIf="stat=='Draft'">
        <table>
          <tr>
            <td>
              <div style="height: 3px"></div>
              <mat-icon class="example-tab-icon">all_inbox</mat-icon>&nbsp;</td>
            <td valign="top"> Draft</td>
          </tr>
        </table>
      </span>
      <span *ngIf="stat=='Published'">
        <table>
          <tr>
            <td>
              <div style="height: 3px"></div>
              <mat-icon class="example-tab-icon">list_alt</mat-icon>&nbsp;</td>
            <td valign="top"> Published Researches</td>
          </tr>
        </table>
      </span>
      <span *ngIf="stat=='With Issues'">
        <table>
          <tr>
            <td>
              <div style="height: 3px"></div>
              <mat-icon class="example-tab-icon">assignment_late</mat-icon>&nbsp;</td>
            <td valign="top"> Researches With Issues</td>
          </tr>
        </table>
      </span>
      <span *ngIf="stat=='Trash'">
        <table>
          <tr>
            <td>
              <div style="height: 3px"></div>
              <mat-icon class="example-tab-icon">delete</mat-icon>&nbsp;</td>
            <td valign="top"> Trash</td>
          </tr>
        </table>
      </span>
    </p>
</div>



<div style="height: 20px"></div>
<table style="width: 100%;background-color: white;">
  <tr><td style="width: 150px  !important">
<mat-form-field  class="npinput2"  style="width: 250px  !important">
                    <mat-label>Filter by Research Type</mat-label>
                    <mat-select  [(ngModel)]="level" (ngModelChange)="applyFilter(level)">
                      <mat-option value="" (click)='applyFilter3("")' >
                        - All -
                      </mat-option>
                      <mat-option value="{{c.id}}"  *ngFor="let c of degreelevel">
                        {{c.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
      
      <span *ngIf="array!=undefined">          &nbsp;&nbsp;{{array.length}} record(s)  </span>
    </td>
    <td style="text-align: right;width: 237px" >
       <mat-form-field style="width: 180px !important">
      <input matInput (keyup)="applyFilter(level)" placeholder="Search"  [(ngModel)]="title" >

          </mat-form-field>
        <button mat-mini-fab color="primary">
          <mat-icon><mat-icon>filter_list</mat-icon></mat-icon>
        </button>
    </td>
  </tr>
</table>


  <table style="width: 100%;padding: 20px" class="apptable" *ngIf="array!=undefined">
    <tr *ngFor="let element of array | paginate: config">
      <td>
        <b>Title:</b> {{element.title | uppercase}}<br>
          <b>Research Level: </b>{{element.level}}<br>
          <b>Date Created: </b>{{element.datecreated| date :'mediumDate' }} @ {{element.datecreated| date :'shortTime'}}
      </td>
      <td style="width: 60px">
        <div class="rolerow">
         <b><input type="button" [matMenuTriggerFor]="menu" style="color: white;background-color: #294a70;border: none;width: 60px;padding-top: 5px;padding-bottom: 5px;" value="Options"></b>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateresearch(element.id,element.title,element.abstract,element.dlid)"  *ngIf="stat=='Draft'">Update Research</button>

            <button mat-menu-item (click)='removepermanent(element.id)' *ngIf="stat=='Trash'">Permanently Delete</button>

            <button mat-menu-item (click)='returntoDraft(element.id)'  *ngIf="stat=='Pending'||stat=='With Issues'||stat=='Trash'">Return to Draft</button>
            <button mat-menu-item (click)='removeRole(element.id)'  *ngIf="stat=='Draft'">Delete</button>


            <button mat-menu-item (click)='ViewHistory(element.title,element.status)' >View Status History</button>
            <button mat-menu-item (click)='Viewpdf(element.id)'>View PDF Document</button>




          </mat-menu>
        </div>
      </td>
    </tr>    
  </table>

    <div style="height: 20px"></div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>


        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="array===undefined"></mat-spinner>
         <div *ngIf="array!=undefined">
          <p *ngIf="array.length===0" style="text-align: center;"><i>- No researches to show -</i></p>
        </div>
    <div style="height: 20px"></div>
</div>

