<div class="container" style="margin-left: 135px !important">
    <div >
  

        <style type="text/css">
        	tr:hover{
        		background-color: #E0E0E0 !important;
        	}
          ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
             min-width: 0!important;
             padding: 3px!important;
             margin: 3px!important;
            }
        </style>
        
        <div class="col-md-12">
          <div style="width: 600px">
          <mat-tab-group (selectedTabChange)="optionsearch($event)" [selectedIndex]="tabselectedvalue">
            <!-- <mat-tab label='All'> 
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">search</mat-icon>
                All
              </ng-template>
             </mat-tab> -->
            <mat-tab label="Title" >
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">search</mat-icon>
                Title
              </ng-template>
            </mat-tab>
            <mat-tab label="Author">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">person_search</mat-icon>
                Author
              </ng-template>
            </mat-tab>
            <mat-tab label="Abstract">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">dvr</mat-icon>
                Abstract
              </ng-template>
            </mat-tab>
            <mat-tab label="Company">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">apartment</mat-icon>
                Company
              </ng-template>
            </mat-tab>
            <mat-tab label="Keyword">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">view_headline</mat-icon>
                Keyword
              </ng-template>
            </mat-tab>
            <mat-tab label="Program Discipline">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">list</mat-icon>
                Program Discipline
              </ng-template></mat-tab>
          </mat-tab-group>
          </div>

          <div class="page-header" style="margin-bottom: 0;margin-top: 25px !important;">
              <span style="margin:0;font-size: 18px">
                Search Result for <b>{{tempsearch}}</b><br>
              </span>
              <span>About {{displayarray.length}} result(s) </span>
          </div>
          <div style="height: 10px"></div>

          
        <table  class="table table-striped" style="width:100%" >
        <tbody>
            <tr   *ngFor="let c of displayarray | paginate: config">
              <td>
                <a href="javascript:void(0)" (click)="global.openresearch(c.id)"  data-toggle="tooltip" data-placement="bottom" [title]="c.abstract"><b>{{c.title | uppercase }}</b></a><br><b>Author(s): </b>
                  <script type="text/javascript">
                    $(function () {
                      $('[data-toggle="tooltip"]').tooltip()
                    })
                  </script>
                 <span *ngFor="let a of c.authors;let i = index">{{a.name}}<span *ngIf='i<c.authors.length-1'>, </span></span><br>
                <b>Company: {{c.inst}} </b><br>
                <b>Program Discipline:  </b>
                      <span *ngFor="let a of c.dis;let i = index" >{{a.desc}}<span *ngIf='i<c.dis.length-1'>, </span></span>

                    </td>
            </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    <br><br>
      <p *ngIf='displayarray.length==0' style="text-align: center;">
         - No Research Found for <b>{{global.search}}</b> -
      <br><br><br><br><br><br><br><br><br>
      </p>
      </div>

        
    </div>
</div>