<div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.1" style="position: fixed;z-index: 100;width: 100%">
    <!-- ======== @Region: #navigation ======== -->
    <div id="navigation" class="wrapper">
      <!--Hidden Header Region-->
      <!--Header & navbar-branding region-->
      <div class="header">
        <div class="header-inner container">
          <div class="row">
            <div class="col-md-8">
              <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
              <a class="navbar-brand" href="./" title="Home">
                <h1 class="hidden">
                    <img src="assets/img/logo.png" alt="Flexor Logo">
                   
                  </h1>
              </a>
              <div class="navbar-slogan">
                Department of Science and Technology
                <br> Region II
              </div>
            </div>
            <!--header rightside-->
            <div class="col-md-4">
              <!--user menu-->
              <ul class="list-inline user-menu pull-right">
                <li class="user-register" *ngIf="global.requestid()==null"><i class="fa fa-edit text-primary "></i> <a  href="javascript:void(0)" [routerLink]="['../registration']" class="text-uppercase">Register</a></li>
                <li class="user-login" *ngIf="global.requestid()==null"><i class="fa fa-sign-in text-primary"></i> <a  [routerLink]="['../login']" class="text-uppercase" >Login</a></li>
                <li class="user-login" *ngIf="global.requestid()!=null"><i class="fa fa-sign-in text-primary"></i> <a (click)="logout()" class="text-uppercase" >Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="navbar navbar-default">
          <!--mobile collapse menu button-->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <!--social media icons-->
          <!--everything within this div is collapsed on mobile-->
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="main-menu">
              <li class="icon-link">
                <a href="javascript:void(0)" [routerLink]="['../front']"><i class="fa fa-home"></i></a>

              </li>
              <li *ngIf="global.requestid()!=null">
                <a  href="javascript:void(0)" [routerLink]="['../login']">Dashboard</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About CVKHub<b class="caret"></b></a>
                <!-- Dropdown Menu -->
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" tabindex="-1" class="menu-item" [routerLink]="['../Overview']">Overview</a></li>
                  <li><a href="javascript:void(0)" tabindex="-1" class="menu-item" [routerLink]="['../Developers']">Developers</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                <!-- Dropdown Menu -->
                <ul class="dropdown-menu">
                  <li><a href="about-us" tabindex="-1" class="menu-item">Proposal Guidelines</a></li>
                  <li><a href="help" tabindex="-1" class="menu-item">Downloads</a></li>
                </ul>
              </li>
              <!-- <li><a href="#"  class="dropdown-toggle" data-toggle="dropdown">Analytics</a>

                <ul class="dropdown-menu">
                  <li><a href="analytics-proposal.php" tabindex="-1" class="menu-item">Proposals</a></li>
                  <li><a href="analytics-research.php" tabindex="-1" class="menu-item">Research</a></li>
               </ul>
                </li> -->
              <li><a href="help/" target="_blank">Help</a></li>
            </ul>
          </div>
          <!--/.navbar-collapse -->
        </div>
      </div>
    </div>
</div>
<div style="height: 163px;">
</div>
<router-outlet></router-outlet>
<div id="footer" class="block block-bg-grey-dark block-bg-img" data-block-bg-img="assets/img/backgrounds/buildings.png" data-stellar-background-ratio="0.4" style="background-image: url(&quot;assets/img/backgrounds/buildings.png&quot;); background-position: 0px 172.2px;"  *ngIf="global.requestid()==null">
    <div class="container">

      <div class="row" id="contact">

        <div class="col-md-6">
          <div>
              <h3>
                  About Us
                </h3>
              <p>Originally established as the National Science and Development Board (NSDB) on 13 June 1958, it was reconstituted as the National Science and Technology Authority (NSTA) on 17 March 1981 with the vision of "A competent and competitive science and technology community with a social conscience."...</p>
              <a href="about-us" class="btn btn-more"><i class="fa fa-plus"></i> Learn more</a>
            </div>
        </div>
        <div class="col-md-3">
          <address>
              <h3>
                  DOST Region II
                </h3>
              <i class="fa fa-map-pin fa-fw text-primary"></i> Dalan na Paccurofon, corner Matunung St., Regional Government Center, Carig Sur, Tuguegarao City, Cagayan, 3500 Philippines 
              <br><br>
              <i class="fa fa-phone fa-fw text-primary"></i> ORD (078) 396-0763 / FOS 396-0720 / TOS (396)-0546
              <br><br>
              <i class="fa fa-envelope-o fa-fw text-primary"></i> <a href="http://region2.dost.gov.ph">http://region2.dost.gov.ph</a>
              <br>
            </address>
        </div>


        <div class="col-md-3">
          <h3>
              Follow Us On:
            </h3>
          <!--social media icons-->
          <div class="social-media social-media-stacked">
            <!--@todo: replace with company social media details-->
            <a href="#"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
            <a href="#"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
            <a href="#"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
            <a href="#"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
          </div>
        </div>

      </div>

      <div class="row subfooter">
        <!--@todo: replace with company copyright details-->
        <div class="col-md-7">
          <p>Copyright © <a href="http://region2.dost.gov.ph" target="_blank">DOST Region II</a></p>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flexor
            -->
            Grant-In-Aid Project by <a href="http://usl.edu.ph/" target="_blank">University of Saint Louis Tuguegarao</a>
          </div>
        </div>
        <div class="col-md-5">
          <ul class="list-inline pull-right">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <a href="#top" class="scrolltop" style="display: block;">Top</a>

    </div>
  </div>