<mat-toolbar *ngIf="global.activepage=='front'" style="position: fixed;
  top: 0;
  width: 100%;z-index: 999">
  <mat-toolbar-row>
    <a href="http://www.rdc2.gov.ph/invest/cagayan/" target="_blank" style="text-decoration: none;"><table>
      <tr>
        <td style="width: 120px">
          <img src="assets/bclogo.png" style="height: 55px">
        </td>
        <td>
                   <p style="font-size: 16px;margin:0 !important;font:normal;height: 15px;">Bountiful Cagayan</p>
                   <p style="font-size: 16px;margin:0 !important;margin:0;font:normal;height: 15px;">
                  Valley Region</p>
        </td>
        <td>
        </td>
      </tr>
    </table>
    </a>
    <span class="example-spacer"></span>
                <button class="buttonblue" mat-raised-button [routerLink]="['../login']"  *ngIf="global.requestid()==null"> 
                    <mat-icon>input</mat-icon> Sign In
                </button>

                <button mat-button [matMenuTriggerFor]="menu2"  *ngIf="global.requestid()!=null">
                  <span class="material-icons">
                  account_circle
                  </span>
                </button>
                <mat-menu #menu2="matMenu">

                  <div style="margin: 15px">
                    <p style="text-align: center;" *ngIf='global.user!=undefined'>
                      <b>{{global.user.fname | uppercase}} {{global.user.mname | uppercase}} {{global.user.surname | uppercase}} {{global.user.ext | uppercase}}</b><br>
                      <!-- <small *ngIf="global.useraccess!=undefined">{{inputcompany}}</small> -->
                    </p>
                     <button mat-button *ngIf="global.requestid()!=null" [routerLink]="['../login']"> 
                         <mat-icon>dashboard</mat-icon> Dashboard
                    </button>
                    <br>
                    <button mat-button (click)="logout()"> 
                        <mat-icon>login</mat-icon> Sign Out
                    </button>
                  </div>
                </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div style="height: 64px"></div>
<mat-toolbar *ngIf="global.activepage!='front'" style="position: fixed;
  top: 0;
  width: 100%;z-index: 999">
  <mat-toolbar-row>
    <table style="width: 100%;max-width: 700px;min-width: 500px">
      <tr>
        <td style="width: 155px">
          <img src="assets/cvkhublogosearch.png" style="height:35px;margin-right: 40px" [routerLink]="['../home']" >
        </td>
        <td>
          <table style="width: 100%">
            <tr>
              <td>
                 <input  class="form-control input-lg" style="border-radius: 40px" [(ngModel)]='global.search' (keyup)="keysearch($event)" id="input">
              </td>
              <td style="width: 64px">
                <button mat-button class="btn btn-default" (click)="keysearch('onoutfocus')" >
                    <span class="material-icons">
                  search
                  </span></button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <span class="example-spacer"></span>

                <button class="buttonblue" mat-raised-button [routerLink]="['../login']"  *ngIf="global.requestid()==null"> 
                    <mat-icon>input</mat-icon> Sign In
                </button>

                <button mat-button [matMenuTriggerFor]="menu2"  *ngIf="global.requestid()!=null">
                  <span class="material-icons">
                  account_circle
                  </span>
                </button>
                <mat-menu #menu2="matMenu">

                  <div style="margin: 15px">
                    <p style="text-align: center;" *ngIf='global.user!=undefined'>
                      <b>{{global.user.fname | uppercase}} {{global.user.mname | uppercase}} {{global.user.surname | uppercase}} {{global.user.ext | uppercase}}</b><br>
                      <!-- <small *ngIf="global.useraccess!=undefined">{{inputcompany}}</small> -->
                    </p>
                     <button mat-button *ngIf="global.requestid()!=null" [routerLink]="['../login']"> 
                         <mat-icon>dashboard</mat-icon> Dashboard
                    </button>
                    <br>
                    <button mat-button (click)="logout()"> 
                        <mat-icon>login</mat-icon> Sign Out
                    </button>
                  </div>
                </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<div id="footer" class="block block-bg-grey-dark block-bg-img" data-block-bg-img="assets/img/backgrounds/buildings.png" data-stellar-background-ratio="0.4" style="background-image: url(&quot;assets/img/backgrounds/buildings.png&quot;); background-position: 0px 172.2px;" >
    <div class="container">

      <div class="row" id="contact">

        <div class="col-md-6">
          <div>
              <h3>
                  About CVKHub
                </h3>
              <p>Originally established as the National Science and Development Board (NSDB) on 13 June 1958, it was reconstituted as the National Science and Technology Authority (NSTA) on 17 March 1981 with the vision of "A competent and competitive science and technology community with a social conscience."...</p>
              <a href="about-us" class="btn btn-more"><i class="fa fa-plus"></i> Learn more</a>
            </div>
        </div>
        <div class="col-md-3">
          <address>
              <h3>
                 Bountiful Cagayan Valley Region
                </h3>
              <i class="fa fa-map-pin fa-fw text-primary"></i> Dalan na Paccurofon, corner Matunung St., Regional Government Center, Carig Sur, Tuguegarao City, Cagayan, 3500 Philippines 
              <br><br>
              <i class="fa fa-phone fa-fw text-primary"></i> ORD (078) 396-0763 / FOS 396-0720 / TOS (396)-0546
              <br><br>
              <i class="fa fa-envelope-o fa-fw text-primary"></i> <a href="http://region2.dost.gov.ph">http://region2.dost.gov.ph</a>
              <br>
            </address>
        </div>


        <div class="col-md-3">
          <h3>
              Follow Us On:
            </h3>
          <!--social media icons-->
          <div class="social-media social-media-stacked">
            <!--@todo: replace with company social media details-->
            <a href="#"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
            <a href="#"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
            <a href="#"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
            <a href="#"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
          </div>
        </div>

      </div>

      <div class="row subfooter">
        <!--@todo: replace with company copyright details-->
        <div class="col-md-7">
          <p>Copyright © <a href="http://region2.dost.gov.ph" target="_blank">CVKHub</a></p>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flexor
            -->
            Grant-In-Aid Project by <a href="http://usl.edu.ph/" target="_blank">University of Saint Louis Tuguegarao</a>
          </div>
        </div>
        <div class="col-md-5">
          <ul class="list-inline pull-right">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <a href="#top" class="scrolltop" style="display: block;">Top</a>

    </div>
  </div>