<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/logo.png" height="50px">

  
    <span class="example-spacer"></span>
    <a mat-button [routerLink]="['../main',{outlets:{div:'home'}}]"   *ngIf="global.getSession()!=null"   style="text-align: center"><i class="material-icons iconsize" >home</i> Home</a>
    <a href="http://usl.edu.ph/pages/dost/" target="_blank" style="color: white"><button mat-button>Likha Site</button></a>
    <button mat-icon-button [matMenuTriggerFor]="menu"  *ngIf="global.getSession()!=null"> 
  <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span> Logout</span>
    </button>
  </mat-menu>
  </mat-toolbar-row> 
</mat-toolbar>

<router-outlet></router-outlet>

<footer><!--position: absolute;z-index: 9999-->
  
    <mat-toolbar color='primary'> 
      <p style="font-size: 11px;line-height: 1.3;"  >
      ©2019 DOST<br>
      DOST Tuguegarao<br>
      Maintained by: Uslt CICT</p>
    <span class='spacer'></span>
  </mat-toolbar>
</footer>