  <div style="padding:  20px 0 0 20px;">
  <h4>Grant Management</h4>
  <hr>
  </div>
  <div id="roles">

		      <table style="width: 250px">
					<tr>
						<td style="padding-left: 20px">
				            <mat-form-field  class="npinput2" style="width: 100%" required>
				              <mat-label>- Select Funding Agency -</mat-label>
				              <mat-select  [(ngModel)]="fagency">
				                <mat-option value="{{f.id}}"  *ngFor="let f of global.fundingagency" (click)="createtable(f.id)">
				                  {{f.name}}
				                </mat-option>
				              </mat-select>
				            </mat-form-field>
						</td>
					</tr>
				</table>

		<div style='padding: 0 20px 20px 20px'>
		<mat-tab-group *ngIf="fagency!=''">
		  <mat-tab label="Call for Proposals">
		    <div style="margin-top: 10px;margin-left: 10px;"  >
				 <table style="width: 100%">
				 	<tr>
				 		
				 		<td style="width: 250px">
							 <mat-form-field style="width: calc(100% - 50px)">
								<input matInput (keyup)="applyFilter()" placeholder="Filter"  [(ngModel)]="search">
							 </mat-form-field>
						    <button mat-mini-fab color="primary">
							    <mat-icon><mat-icon>filter_list</mat-icon></mat-icon>
							  </button>	
				 		</td>
				 		<td *ngIf="grants!=undefined&&grants!=null" >
				 			&nbsp;{{ grants.length }} <span *ngIf="grants.length==1||grants.length==0">result</span><span *ngIf="grants.length>1">results</span>
				 		</td>
				 		<td>
				 			
				 		</td>
				 		<td style="width: 120px">
				 			<button mat-raised-button color="primary" (click)="openDialog(0,null)">
				 				<i class="material-icons">add_circle</i> 
				 				Add Call for Proposals
				 			</button>
				 		</td>
				 	</tr>
				 </table>
		    </div>
		    <div  style="max-height: calc(100vh - 460px);overflow-y: scroll;">
		  	<table class="apptable" *ngIf="grants!=undefined&&grants.length!=0">
		  		<tr>
		  			<th>Name</th>
		  			<th style="width: 200px">Start date</th>
		  			<th style="width: 200px">End date</th>
		  			<th style="width: 75px;text-align: center;">- Action -</th>
		  		</tr>
		  		<tr *ngFor="let a of grants">
		  			<td>
		  				{{a.name}}
		  			</td>
		  			<td>
		  				{{a.start |date: 'MMMM d, y'}}
		  			</td>
		  			<td>
		  				{{a.end |date: 'MMMM d, y'}}
		  			</td>
		  			<td>
		  				<button mat-raised-button class="buttonblue" (click)="openDialog(1,a)" style="font-size:12px;width: 25px;min-width:18px;line-height: 3px; padding: 0;margin-left: 5px;"><i class="material-icons">
						    edit</i></button>
						<button mat-raised-button  (click)="removegrant(a.id)" style="font-size:12px;width: 25px;min-width:18px;line-height: 3px; padding: 0;margin-left: 5px;background-color: #990000;color: white !important"><i class="material-icons">
						    delete</i>
						</button>
		  			</td>
		  		</tr>
		  	</table>
		  	</div>
		        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="grants===undefined"></mat-spinner>
		         <div *ngIf="grants!=undefined">
		          <p *ngIf="grants.length===0" style="text-align: center;"><i>- No Grants to show -</i></p>
		        </div>
		  </mat-tab>
		  <mat-tab label="Attachments Forms">
		    <div style="margin-top: 10px;margin-left: 10px;" >
				 <table style="width: 100%">
				 	<tr>
				 		<td>
				 		</td>
				 		<td style="width: 120px">
				 			<button mat-raised-button color="primary" (click)="openDialogattachmentent(0,null)">
				 				<i class="material-icons">add_circle</i> 
				 				Add Attachment Form
				 			</button>
				 		</td>
				 	</tr>
				 </table>
		    </div>
		    <div  style="max-height: calc(100vh - 460px);overflow-y: scroll;">
		  	<table class="apptable" *ngIf="attachment!=undefined&&attachment.length!=0">
		  		<tr>
		  			<th style="width: 150px">Name</th>
		  			<th>Description</th>
		  			<th style="width: 110px">File</th>
		  			<th style="width: 75px;text-align: center;">- Action -</th>
		  		</tr>
		  		<tr *ngFor="let a of attachment">
		  			<td>
		  				{{a.name}}
		  			</td>
		  			<td>
		  				{{a.desc}}
		  			</td>
		  			<td>
		  				<a [href]="global.sanitize(a.formdoc,dlfiletype(a.fext))" download="{{a.name}}.{{a.fext}}"><button mat-raised-button class="buttonblue">
		  					Download(.{{a.fext}})
		  				</button>
		  				</a>
		  			</td>
		  			<td>
		  				<button mat-raised-button class="buttonblue" (click)="openDialogattachmentent(1,a)" style="font-size:12px;width: 25px;min-width:18px;line-height: 3px; padding: 0;margin-left: 5px;"><i class="material-icons">
						    edit</i></button>
						<button mat-raised-button  (click)="removeattachment(a.id)" style="font-size:12px;width: 25px;min-width:18px;line-height: 3px; padding: 0;margin-left: 5px;background-color: #990000;color: white !important"><i class="material-icons">
						    delete</i>
						</button>
		  			</td>
		  		</tr>
		  	</table>
		  	</div>
		        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="attachment===undefined"></mat-spinner>
		         <div *ngIf="attachment!=undefined">
		          <p *ngIf="attachment.length===0" style="text-align: center;"><i>- No Attachment to show -</i></p>
		        </div>
		  </mat-tab>
		</mat-tab-group>	
		</div>	
</div>