  <div style="padding:  20px 0 0 20px;">
  <h4>Grant Management</h4>
  <hr>
  </div>
  <div id="roles" style="overflow-y: scroll;max-height: calc(100vh - 235px)">

		      <table style="width: 100%">
					<tr>
						<td style="padding-left: 20px">
				            <mat-form-field  class="npinput2" style="width: 100%" required>
				              <mat-label>- Select Funding Agency -</mat-label>
				              <mat-select  [(ngModel)]="fagency">
				                <mat-option value="{{f.id}}"  *ngFor="let f of fundingagency" (click)="createtable(f.id)">
				                  {{f.name}}
				                </mat-option>
				              </mat-select>
				            </mat-form-field>
						</td>
						<td >
							<button mat-raised-button color="primary" style="margin:10px" (click)="openDialog(0,null)" [disabled]="fagency==''"><i class="material-icons">
							add_circle
							</i> Add Grant {{addtitle}}</button>
									</td>
						<td style="text-align: right;width: 30%">
							 <mat-form-field style="width:calc(100% - 50px)">
							<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">

							    </mat-form-field>
						    <button mat-mini-fab color="primary">
							    <mat-icon><mat-icon>filter_list</mat-icon></mat-icon>
							  </button>
						</td>
					</tr>
				</table>
		  <mat-table #table [dataSource]="dataSource" matSort>


		    <ng-container matColumnDef="name">
		      <mat-header-cell *matHeaderCellDef style="min-width: 200px !important">Name</mat-header-cell>
		      <mat-cell *matCellDef="let element" style="min-width: 200px !important">
		      	{{element.name}}
			  </mat-cell>
		    </ng-container>
		    <ng-container matColumnDef="start">
		      <mat-header-cell *matHeaderCellDef style="min-width: 200px !important">Start date</mat-header-cell>
		      <mat-cell *matCellDef="let element" style="min-width: 200px !important">
		      	{{element.start |date: 'MMMM d, y'}}
			  </mat-cell>
		    </ng-container>
		    <ng-container matColumnDef="end">
		      <mat-header-cell *matHeaderCellDef style="min-width: 200px !important">End date</mat-header-cell>
		      <mat-cell *matCellDef="let element" style="min-width: 200px !important">
		      	{{element.end |date: 'MMMM d, y'}}
			  </mat-cell>
		    </ng-container>
		    <ng-container matColumnDef="action">
		      <mat-header-cell *matHeaderCellDef style="flex: 0 0 80px">- Action -</mat-header-cell>
		      <mat-cell *matCellDef="let element" style="flex: 0 0 80px">
		      	<b><button mat-raised-button class="buttonblue" (click)="openDialog(1,element)" style="font-size:12px;width: 25px;min-width:18px;line-height: 3px; padding: 0;margin-left: 5px;"><i class="material-icons">
				    edit
				    </i></button><button mat-raised-button  (click)="removegrant(element.id)" style="font-size:12px;width: 25px;min-width:18px;line-height: 3px; padding: 0;margin-left: 5px;background-color: #990000;color: white !important"><i class="material-icons">
				    delete
				    </i></button></b>
			  </mat-cell>
		    </ng-container>


						 
			          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		        </mat-table>

        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="grants===undefined"></mat-spinner>
         <div *ngIf="grants!=undefined">
          <p *ngIf="grants.length===0" style="text-align: center;"><i>- No Grants to show -</i></p>
        </div>

		        <mat-paginator 
				         #paginator
				        [length]="100"
		              [pageSize]="10"
		              [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
				</mat-paginator>
</div>