  <div mat-dialog-actions style="float: right">
  <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
</div>
  <h4>Researches - Pending Approval</h4>
  <hr>
<div style="max-height: calc(100vh - 320px);overflow-y: scroll;" id="viewresearch">
          <h4>Title: {{inputtitle}}</h4>
          <p><small><b>Abstract:</b> {{inputabstract}}</small></p>
          <p><small><b>Degree Level:</b> {{inputdegreelevel}}</small></p>
          <p><small><b>Company:</b> {{inputcompany}}</small></p>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Author
                </mat-panel-title>
              </mat-expansion-panel-header>

                    <div  *ngIf="authorsarrayinresearch!=undefined" >
                      <div  *ngIf="authorsarrayinresearch[0].id!=null" >
                        <table style="width: 100%">
                          <tr  *ngFor="let list of authorsarrayinresearch">
                            <td style="width: 70%"><b>{{list.name}}</b></td>
                          </tr>
                        </table>
                    </div>
                    </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Keywords
                  </mat-panel-title>
                </mat-expansion-panel-header>

                      <div  *ngIf="keywordarray!=undefined" >
                        <div  *ngIf="keywordarray[0].id!=null" >
                          <table style="width: 100%">
                            <tr  *ngFor="let list of keywordarray">
                              <td style="width: 70%"><b>{{list.keyword}}</b></td>
                            
                            </tr>
                          </table>
                      </div>
                      </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Discipline
                  </mat-panel-title>
                </mat-expansion-panel-header>

                      <div  *ngIf="disciplinearrayinresearch!=undefined" >
                        <div  *ngIf="disciplinearrayinresearch[0].id!=null" >
                          <table style="width: 100%">
                            <tr  *ngFor="let list of disciplinearrayinresearch">
                              <td style="width: 70%"><b>{{list.desc}}</b></td>
                            </tr>
                          </table>
                      </div>
                      </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Funding Agency
                  </mat-panel-title>
                </mat-expansion-panel-header>

                      <div  *ngIf="fundingagencyarrayinresearch!=undefined" >
                        <div  *ngIf="fundingagencyarrayinresearch[0].id!=null" >
                          <table style="width: 100%">
                            <tr  *ngFor="let list of fundingagencyarrayinresearch">
                              <td style="width: 70%"><b>{{list.name}}</b></td>
                            <td style="width: 30%">
                            </td>
                            </tr>
                          </table>
                      </div>
                       <div  *ngIf="fundingagencyarrayinresearch[0].id==null" >
                        <p style="text-align: center;"><i>- No Funding Agency to show -</i></p>
                      </div>
                      </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Documents
                  </mat-panel-title>
                </mat-expansion-panel-header>
                   <p><b>Main Document</b> <small>(PDF File.)</small></p>


                <button mat-button type="button" class="btn btn-sm btn-default" (click)="Viewpdf(researchid)">{{maindoclabel}}</button>
                <br>
              <div style="height: 15px"></div>
            <p><b>Supporting Documents</b></p>
          <div  *ngIf="documentarray!=undefined" >
            <div  *ngIf="documentarray[0].id!=null" >
              <table style="width: 100%">
                <tr  *ngFor="let list of documentarray">
                  <td style="width: 70%"><b>{{list.name}}</b></td>
                <td style="width: 30%">
                </td>
                </tr>
              </table>
          </div>
          </div>
              </mat-expansion-panel>
               
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Publication Information
                  </mat-panel-title>
                </mat-expansion-panel-header>
                      <div  *ngIf="publicationarray!=undefined" >
                        <div  *ngIf="publicationarray[0].id!=null" >
                          <table style="width: 100%" cellpadding="3" class="apptable">
                            <tr>
                              <th >Title</th>
                              <th >Volume</th>
                              <th >Issue</th>
                              <th >Year</th>
                              <th>Publisher</th>
                            </tr>
                            <tr  *ngFor="let list of publicationarray">
                              <td>{{list.title}}</td>
                              <td>{{list.volume}}</td>
                              <td>{{list.issue}}</td>
                              <td>{{list.year}}</td>
                              <td>{{list.publisher}}</td>
                            </tr>
                          </table>
                      </div>
                       <div  *ngIf="publicationarray[0].id==null" >
                        <p style="text-align: center;"><i>- No Publication Information to show -</i></p>
                      </div>
                    </div>
              </mat-expansion-panel>
</div>

        <div mat-dialog-actions style="float: right;margin-right: 20px" *ngIf="data.check==0">
            <button mat-raised-button (click)="withissues()" >With Issues</button>
            <button mat-button class="buttonblue" (click)="approve()" >Approve Research</button>
        </div>