<div style="padding:20px;max-height: calc(100vh - 163px);overflow-y: scroll">
    
<h1>The Salikha/KnowledgeHub Project</h1>
<p>
	 is a system to provide access to collection of research and development outputs of research institutions in the region. The application features the grants management system platform that supports the management of the entire grant life cycle-submission, review, approval, monitoring and evaluation of the project.
</p>
<h3>Gov’t agencies fund USL projects</h3>
<p>
	Tuguegarao City – After the required vetting, the Commission on Higher Education (CHED) approved this 2018 the University of Saint Louis’ (USL’s) two projects under the agency’s Institutional Development and Innovations Grants (IDIG). One of the projects is the “Enhancement of OBE Implementation and Creation of OBE Quality Circles” with a funding of P3,900,000.00. Dr. Emmanuel James P. Pattaguan, USL VP for Academics, is the project leader of said grant.
<br><br>
The other CHED-IDIG project is the “Establishment of a Center for Sustainable Development and Disaster Risk Reduction and Management” with P2,856,882.00 total project fund. Mrs. Luisa B. Aquino, Executive Assistant to the President for Institutional Development and Quality Assurance (EAP-IDQA), serves as the grant project leader.
<br><br>
Meanwhile, the Department of Science and Technology (DOST) Regional Office 02 approved one grant-in-aid project of the University, the “Cagayan Valley Research and Development Knowledge Management System (CVRDKMS),” with P499,210.40 funding from the agency. Mrs. Aquino heads the project.
<br><br>
Earlier reported by USL in its news platforms was the approval of the Commission on Higher Education (CHED) and National Commission on Culture and the Arts (NCCA) of three research projects of the University’s Center for Social Innovation, Local Knowledge and Educational Research (CSILKER). These SALIKHA Creative Grants projects are: “The Malaueg Language Corpus and Folk Literature of Rizal, Cagayan”; “Knowledge Systems and Practices of Aeta Communities in Cagayan Valley Region towards the Establishment of Agta Community Heritage Center”; and “Preservation and Promotion of Ibanag Cultural Resources through Cultural Mapping.” Read full story at http://usl.edu.ph/ched-ncca-ok-3-csilker-research-proposals-to-receive-p8m-fund/.
<br><br>
University Wide
Post navigation
DKLC now 20 years in serviceUSL hosts 1st int’l local knowledge research confab

</p>
<!--    <h3 style="margin-bottom: 0"> Research Report</h3>
		<table style="width: 100%">
			<tr>
				<td style="width: 30%">
					<mat-card>
						<mat-card-content>
				            <mat-form-field  class="npinput2" style="width: 100%" required>
				              <mat-label>- Filter by -</mat-label>
				              <mat-select  [(ngModel)]="inputcompany">
				                <mat-option value="{{f.id}}"  *ngFor="let f of company" (click)="companyresearch(f.id)">
				                  {{f.name}}
				                </mat-option>
				              </mat-select>
				            </mat-form-field>	
				            <div style="text-align: center ">
				            	<h1 style="margin:0;">{{companyresearchcount}}</h1>
				            	<small>Submitted Researches</small>
				            </div>
						</mat-card-content>

					</mat-card>
				</td>
				<td style="width: 30%">
				</td>
				<td style="width: 20%">
				</td>
				<td style="width: 20%">
				</td>
			</tr>
		</table> -->

</div>