<div style="padding:20px;">
    

   <h3 style="margin-bottom: 0"> Research Report</h3>
		<table style="width: 100%">
			<tr>
				<td style="width: 30%">
					<mat-card>
						<mat-card-content>
				            <mat-form-field  class="npinput2" style="width: 100%" required>
				              <mat-label>- Filter by -</mat-label>
				              <mat-select  [(ngModel)]="inputcompany">
				                <mat-option value="{{f.id}}"  *ngFor="let f of company" (click)="companyresearch(f.id)">
				                  {{f.name}}
				                </mat-option>
				              </mat-select>
				            </mat-form-field>	
				            <div style="text-align: center ">
				            	<h1 style="margin:0;">{{companyresearchcount}}</h1>
				            	<small>Submitted Researches</small>
				            </div>
						</mat-card-content>

					</mat-card>
				</td>
				<td style="width: 30%">
				</td>
				<td style="width: 20%">
				</td>
				<td style="width: 20%">
				</td>
			</tr>
		</table>



<div style="display: block;">
  <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>

</div>